$background-colour: #F8F8F8;
$sidebar-colour: #ffffff;
$header-colour: #56C6DB;

$header_title-colour: #ffffff;

$main_button-colour: #FE9EAF;
$main_button_text-colour: #ffffff;
$main_button-highlight: #D38593;

$card-colour: #ffffff;
$description-colour: #626262;

$green-colour: #1C937D;

$pill-colour: #FA92DC;
$pill_text-colour: #FFF2FB;
$pill-highlight: #C571AD; 
$pill_text-highlight: #ffffff;

$sidemenu-colour: #555555;
$sidemenu-highlight: #F9ED3E;

$form_border-colour: #DCDCDC;
$input_label-colour: #555555;
$input-colour: #000000;
$input_background-colour: #ffffff;

$warning-colour: #CF5469;

$author-colour: #855C92; 