<div>
  <h1 class="mt-5">Avatar</h1>
  <p class="lead">
    Avatar related images management  
  </p>
  <div id="app">
    <div class="row">
      <div class="col-6">
        <h4>Bodies</h4>
        <form>
          <div class="form-group">
            <uploader v-model="image" id="bodies"/>
          </div>
          <button @click.stop.prevent="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tableview :pictures="bodyPictures" @delete="deleteBody">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4>Eyes</h4>
        <form>
          <div class="form-group">
            <uploader v-model="eyesImage" id="eyes"/>
          </div>
          <button @click.stop.prevent="submitEyes" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tableview :pictures="eyesPictures" @delete="deleteEyes">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4>Noses</h4>
        <form>
          <div class="form-group">
            <uploader v-model="noseImage" id="nose"/>
          </div>
          <button @click.stop.prevent="submitNose" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tableview :pictures="nosesPictures" @delete="deleteNose">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4>Hairs</h4>
        <form>
          <div class="form-group">
            <uploader v-model="hairImage" id="hair"/>
          </div>
          <button @click.stop.prevent="submitHair" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tableview :pictures="hairsPictures" @delete="deleteHair">
      </div>
    </div>



</div>

<script>

var app = new Vue({
  el: '#app',
  data() {
    return {
      message: 'Hello Vue!',
      image: null,
      eyesImage: null,
      bodyImages: [],
      noseImage: null,
      hairImage: null,
      eyesPictures: [],
      bodyPictures: [],
      nosesPictures: [],
      hairsPictures: [],
    };
  },
  mounted() {
    console.log("Component mounted");

    axios.get('/avatar_bodies')
    .then((response) => {
      this.bodyPictures = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });

    axios.get('/avatar_eyes')
    .then((response) => {
      this.eyesPictures = response.data;
    })
    .catch(function (error) {
      console.log(error);
    });

    axios.get('/avatar_noses')
    .then((response) => {
      this.nosesPictures = response.data;
    })
    .catch((error) => {
      console.log(error);
    });

    axios.get('/avatar_hairs')
    .then((response) => {
      this.hairsPictures = response.data;
    })
    .catch((error) => {
      console.log(error);
    })
  },
  methods: {
    submit() {
      console.log("Submit image: ", this.image);

      axios.post('/avatar_bodies', {
        picture: this.image,
      })
      .then(function (response) {
        this.image = null;
      })
      .catch(function (error) {
       console.log(error);
      });
    },

    submitEyes() {
      axios.post('/avatar_eyes', {
        picture: this.eyesImage,
      })
      .then(function (response) {
        this.eyesImage = null;
      })
      .catch(function (error) {
       console.log(error);
      });
    },

    submitNose() {
      axios.post('/avatar_noses', {
        picture: this.noseImage,
      })
      .then(function (response) {
        this.noseImage = null;
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    
    submitHair() {
      axios.post('/avatar_hairs', {
        picture: this.hairImage,
      })
      .then(function (response) {
        this.hairImage = null;
      })
      .catch(function (error) {
        console.log(error);
      });
    },

    deleteBody(id) {
      console.log("DELETE BODY: ", id);
      axios.delete(`/avatar_bodies/${id}`)
      .then((response) => {
        this.bodyPictures = this.bodyPictures.filter(body => body.id !== id);
      })
      .catch( function(error) {
        console.log(error);
      });
    },
    deleteEyes(id) {
      console.log("DELETE EYES: ", id);
      axios.delete(`/avatar_eyes/${id}`)
      .then((response) => {
        this.eyesPictures = this.eyesPictures.filter(eyes => eyes.id !== id);
      })
      .catch( function(error) {
        console.log(error);
      });
    },
    deleteNose(id) {
      console.log("DELETE NOSE: ", id);
      axios.delete(`/avatar_noses/${id}`)
      .then((response) => {
        this.nosesPictures = this.nosesPictures.filter(nose => nose.id !== id);
      })
      .catch((error) => {
        console.log(error);
      });
    },
    deleteHair(id) {
      console.log("DELETE HAIR: ", id);
      axios.delete(`/avatar_hairs/${id}`)
      .then((response) => {
        this.hairsPictures = this.hairsPictures.filter(hair => hair.id !== id);
      })
      .catch((error) => {
        console.log(error);
      });
    },
  }
});

</script>
</html>